In [59]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\roman\desktop\gb\продакт\pyton the basics knows\hello pyton\seminars\seminar 9\env\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\roman\desktop\gb\продакт\pyton the basics knows\hello pyton\seminars\seminar 9\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\roman\desktop\gb\продакт\pyton the basics knows\hello pyton\seminars\seminar 9\env\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\roman\desktop\gb\продакт\pyton the basics knows\hello pyton\seminars\seminar 9\env\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\roman\desktop\gb\продакт\pyton the basics knows\hello pyton\seminars\seminar 9\env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [60]:
import pandas as pd
df = pd.DataFrame ({
'country': ['Kazahstan', 'Russia', 'Belarus', 'Ukraine'],
'populations': ['157.2','365.2','256.5','128.3']  ,
'square': ['123545','256545','2566448','256644']
})
df

     country populations   square
0  Kazahstan       157.2   123545
1     Russia       365.2   256545
2    Belarus       256.5  2566448
3    Ukraine       128.3   256644

In [61]:
df [['country', 'square']]

     country   square
0  Kazahstan   123545
1     Russia   256545
2    Belarus  2566448
3    Ukraine   256644

In [62]:
df.to_csv ("countries") # импорт в файл csv

In [63]:
df = pd.read_csv ('countries') # считать информацию с файла csv
df

   Unnamed: 0    country  populations   square
0           0  Kazahstan        157.2   123545
1           1     Russia        365.2   256545
2           2    Belarus        256.5  2566448
3           3    Ukraine        128.3   256644

In [64]:
df = df.drop(columns= ['Unnamed: 0']) # убрать столбец
df

     country  populations   square
0  Kazahstan        157.2   123545
1     Russia        365.2   256545
2    Belarus        256.5  2566448
3    Ukraine        128.3   256644

In [65]:
df.drop (3) # убрать строку

     country  populations   square
0  Kazahstan        157.2   123545
1     Russia        365.2   256545
2    Belarus        256.5  2566448

In [68]:
df.at [1, 'country'] = 'Russsia'
df

     country  populations   square
0  Kazahstan        157.2   123545
1    Russsia        365.2   256545
2    Belarus        256.5  2566448
3    Ukraine        128.3   256644